extends layout

block content
  .main-container
    .cloud-image
        img(src='/images/successCloudNew.svg')
    .content 
        .content-body
            .success-text
                p Nielsen Costa Teixeira
            .description 
                p Deploy com terraform e Heroku executado com sucesso!
            .description 
                p #{database_url}