doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title #{title} - Nielsen Teixeira - UNI7
    link(rel='stylesheet', type='text/css', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
    
  body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
           ul.nav.navbar-nav
            li
              a(href='/') Home
          
            
    .container.body-content
      block content
      hr
      footer
        p &copy; Trabalho para disciplina de Gestão de Configuração e Mudança
   
    block scripts